<app-user></app-user>
<div class="">
  <article>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, praesentium.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptates, consequatur possimus tenetur ipsa et
      neque
      nesciunt enim ea sunt. Magnam veritatis quisquam fugit ullam rem accusantium facilis beatae quae voluptatem cumque
      laboriosam, dolores nisi! Obcaecati, nisi incidunt doloremque, fugit porro excepturi dicta repellat quod
      cupiditate
      mollitia aspernatur quae nam, qui quas dolore commodi expedita quidem? Quibusdam sapiente neque cum, veniam
      deserunt
      minima inventore illo reprehenderit provident perferendis eaque velit cumque dolor fugit repudiandae eius!
      Repellendus quas autem placeat ipsum unde tenetur ducimus, vel obcaecati laboriosam deserunt, dolores
      reprehenderit
      explicabo porro optio eos adipisci necessitatibus itaque omnis, debitis enim nulla.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptates, consequatur possimus tenetur ipsa et
      neque
      nesciunt enim ea sunt. Magnam veritatis quisquam fugit ullam rem accusantium facilis beatae quae voluptatem cumque
      laboriosam, dolores nisi! Obcaecati, nisi incidunt doloremque, fugit porro excepturi dicta repellat quod
      cupiditate
      mollitia aspernatur quae nam, qui quas dolore commodi expedita quidem? Quibusdam sapiente neque cum, veniam
      deserunt
      minima inventore illo reprehenderit provident perferendis eaque velit cumque dolor fugit repudiandae eius!
      Repellendus quas autem placeat ipsum unde tenetur ducimus, vel obcaecati laboriosam deserunt, dolores
      reprehenderit
      explicabo porro optio eos adipisci necessitatibus itaque omnis, debitis enim nulla.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A voluptates, consequatur possimus tenetur ipsa et
      neque
      nesciunt enim ea sunt. Magnam veritatis quisquam fugit ullam rem accusantium facilis beatae quae voluptatem cumque
      laboriosam, dolores nisi! Obcaecati, nisi incidunt doloremque, fugit porro excepturi dicta repellat quod
      cupiditate
      mollitia aspernatur quae nam, qui quas dolore commodi expedita quidem? Quibusdam sapiente neque cum, veniam
      deserunt
      minima inventore illo reprehenderit provident perferendis eaque velit cumque dolor fugit repudiandae eius!
      Repellendus quas autem placeat ipsum unde tenetur ducimus, vel obcaecati laboriosam deserunt, dolores
      reprehenderit
      explicabo porro optio eos adipisci necessitatibus itaque omnis, debitis enim nulla.</p>

  </article>
  @defer (on viewport) {
    <app-comments [showAuthor]="true"></app-comments>
  } @placeholder {
    <p>Placeholder</p>
  } @loading{
    <p>Cargando Comentarios...</p>
  }
</div>