<h1 class="mt-4 mx-auto text-center text-5xl font-bold">Aprendiendo {{title.toUpperCase()}}</h1>

<section class="grid grid-cols-4 gap-4 mx-4 my-4">
  <app-card>
    <p card-title>Titulo 1</p>
    <ng-container card-description>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perferendis, repudiandae magnam commodi repellat
      odit aliquam exercitationem laboriosam minus quisquam quam modi, animi voluptates obcaecati rerum dolor aperiam
      enim reprehenderit?
    </ng-container>
  </app-card>

</section>